[user]
	email = itzjustalan@gmail.com
	name = Alan K John
  #signingkey = 92C2C2B2C7836801
[pull]
	rebase = true
[init]
	defaultBranch = main

# work specific folders -
# designcrewz
[includeIf "gitdir:~/work/designcrewz/"]
  path = ~/work/designcrewz/.gitconfig
[includeIf "gitdir:~/work/almas/"]
  path = ~/work/almas/.gitconfig
[includeIf "gitdir:~/work/backend/"]
  path = ~/work/backend/.gitconfig
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	program = gpg2
[safe]
	directory = *
