[user]
	email = itzjustalan@gmail.com
	name = Alan K John
  #signingkey = 92C2C2B2C7836801
[core]
  pager = delta
	autocrlf = input
[init]
	defaultBranch = main
[pull]
	rebase = true
[include]
  path = ~/.sysman/catppuccin.gitconfig

# work specific folders -
# designcrewz
[includeIf "gitdir:~/work/designcrewz/"]
  path = ~/work/designcrewz/.gitconfig
[includeIf "gitdir:~/work/almas/"]
  path = ~/work/almas/.gitconfig
[includeIf "gitdir:~/work/backend/"]
  path = ~/work/backend/.gitconfig
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	program = gpg2
[safe]
	directory = /mnt/d
	directory = /mnt/d/linx/.sysman
	directory = /mnt/d/work/rkd/identity.charitable.one
	directory = /mnt/win/d/work/rkd/identity-dashboard-api
	directory = /mnt/win/d/work/rkd/identity.charitable.one
	directory = /mnt/win/d/work/rkd/app.charitable.one
	directory = /mnt/win/d/work/rkd/services
	directory = /mnt/win/d/linx/.sysman
	directory = /mnt/win/d/work/rkd/dmc-dashboard
	directory = *

[interactive]
    diffFilter = delta --color-only
[delta]
    side-by-side = true
    navigate = true    # use n and N to move between diff sections
    line-numbers = true
    # delta detects terminal colors automatically; set one of these to disable auto-detection
    dark = true
    ; light = true
  features = catppuccin-mocha
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
